<!-- /templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="300">
    <title>Service Monitor</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" />
    <script src="https://kit.fontawesome.com/7305388625.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/loadTableHeaders.js"></script>
</head>

<body>
    <div class="container">
        <div id="table_headers" class="headers">
            <!-- LOADED DATA FROM SCRIPT loadTableHeaders.js -->
        </div>
        <div id="table_data" class="data">
            <!-- LOADED DATA FROM SCRIPT loadTableHeaders.js -->
        </div>
    </div>
</body>
<footer class="footer_bar">
    <div id="timestamp">
        <!-- LOADED DATA FROM SCRIPT loadTableHeaders.js -->
    </div>
</footer>

</html>